{{!< default}}

<div id="spacer"></div>
<div class="container">
    <div class="{{post_class}}">
        <div class="post-inner">
            <h1 class="title">Blog Posts</h1>
        </div>
    </div>
    {{#foreach posts}}
        <a class="post-entry {{classes}}" href="{{url}}">
            <span class="inner">
                {{#if image}}
                    <img src="{{image}}"/>
                {{/if}}
                <span class="content">
                    <span class="title">
                        {{{title}}}
                    </span>
                    <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
                    <span class="excerpt">{{excerpt}}&hellip;</span>
                </span>
            </span>
        </a>
    {{/foreach}}
    <br/>
    {{pagination}}
    <div class="footer-spacer"></div>
</div>
{{>footer}}