<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <script src="https://use.typekit.net/upz7elf.js"></script>
    <link rel="stylesheet" href="//code.rifix.net/elusiveicons/2.0.0/css/elusive-icons.min.css">
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <link href="/assets/lib/syntaxhighlighter/shCore.css" rel="stylesheet" />
    <link href="/assets/lib/syntaxhighlighter/shThemeDefault.css" rel="stylesheet" />
    <link href="/assets/build/style.css" rel="stylesheet" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    {{navigation}}
    {{{body}}}
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <script type="text/javascript" src="/assets/lib/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="/assets/lib/syntaxhighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="/assets/build/index.js"></script>
</body>
</html> 