<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

    <link rel="stylesheet" href="https://use.typekit.net/upz7elf.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{asset "build/bundle.min.css"}}" />

    {{!-- This tag outputes SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <div id="app">
    </div>
    <div id="main-app-loader" class="app-loader visible" style="animation-name: none;"><img style="opacity: 0;" id="main-app-loader-image" class="app-loader-logo" src="/assets/logo-black.png" /><div style="height:10.66px"></div></div>

    {{!-- Styles'n'Scripts --}}
    <script type="text/javascript">
        setTimeout(function() {
            if (document.getElementById('main-app-loader') !== null) {
                document.getElementById('main-app-loader-image').style.opacity = '1';
            }
        }, 500);
    </script>
    <script type="text/javascript" src="{{asset "build/bundle.js"}}" id="bundle"></script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111963297-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111963297-1');
    </script>
    <!-- Hotjar Tracking Code for https://kevinpei.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:736692,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</body>
</html>
