{{!< default}}
<section id="blog">
    <div class="container">
        <h1 id="blog-title">MY BLOG</h1>
        <h3 class="caption">I like to write things from time to time.</h3>
        <div id="blog-article-list">
            <div id="blog-article-list-content" class="card hassub">
                {{!-- This is the post loop - each post will be output using this markup --}}
                {{#foreach posts}}
                    <a class="card blog-card subcard{{#if image}} has-image{{/if}}" href="{{url}}">
                        {{#if image}} <img class="blog-card-image" src="{{image}}"/> {{/if}}
                        <div class="blog-card-content">
                            <h2 class="blog-card-title">{{title}}</h2>
                            <div class="blog-card-date">{{date format="DD MMMM YYYY"}}</div>
                            <p class="blog-card-snippet">{{excerpt words="26"}}...</p>
                        </div>
                    </a>
                {{/foreach}}
            </div>
            {{pagination}}
        </div>
    </div>
</section>