{{!< default}}
<div id="spacer"></div>
<div id="nav-spacer"></div> 
<main>
    <article class="{{post_class}}">
        {{#post}}
        <div class="post-inner">
            <div class="page-cover" style="background-image:url('{{image}}')"><div class="page-cover-inner">
                <h1 class="title">{{{title}}}</h1>
                <span class="post-meta"><time datetime="{{date format="YYYY-MM"}}">{{date format='MMM YYYY'}}</time> {{tags prefix="in " separator=" | "}}</span>
            </div></div>
            <div>
                {{content}}
            </div>
        </div>
        {{/post}}
    </article>
</main>